wheel
torch
pytorch-lightning==1.0.2
gdown==3.12.2
addict==2.2.1
piq==0.5.2
numpy==1.17.5
PyWavelets==1.1.1
git+git://github.com/fbcotter/pytorch_wavelets.git
neptune-client==0.4.132
kornia==0.4.1
pytorch_fid
coremltools
